---
import Layout from "../Layouts/Layouts.astro"
import TechCard from "../Components/TechCard.astro"
import ProjectCards from "../Components/ProjectCards.astro";



import { getCollection } from "astro:content";

interface TechItem {
	title: string;
	tech: string[];
    
    
}

interface ProjectItem{
    slug: string;
    data:
    {
        title: string;
        ShortDescription: string;
        
    }
}

const projects: ProjectItem[] = await getCollection("projects")


const techItems: TechItem[] = [
	
	{
		title: "Desarrollo Web",
		tech: ["HTML", "CSS", "JavaScript", "DexExtreme", "Astro"]
	},
    {
		title: "Herramientas de Desarrollo",
		tech: ["GitHub",  "VS Code", "Visual Studio", "Git", "MySQL Workbench", "Swagger(Documentar Apis)"]
	},
    {
		title: "Lenguajes",
		tech: ["C#", "Java", "C++"]
	},
	{
		title: "Bases de Datos",
		tech: ["MySQL"]
	},
    {
        title: "Frameworks",
        tech: ["ORM(Entity Framework)"]
    }
]


    
---
<Layout title="Profile">
        <section id="about" class="mb-16">
           
            <div class="flex-shrink-0">
                <img src="/images/descarga.jpg" class="w-48 h-48 rounded-full mx-auto" alt="Imagen de perfil"/>
            </div>
            <h1 class="text-4xl font-bold text-gray-950 mb-4">Sobre Mí</h1>
            <p class="text-gray-950 mb-4">
                Soy un pasante universitario en Ingeniería en Sistemas con
                experiencia en C#. He trabajado en la creación de APIs, utilizando
                Swagger para documentar y probar los servicios que desarrollo.
                Además, tengo habilidades en la administración de bases de
                datos con SQL Server Management, lo que me permite diseñar,
                consultar y mantener bases de datos de manera eficiente. Estas
                competencias me han permitido contribuir de manera efectiva
                en proyectos de desarrollo de software, especialmente en lo que
                respecta a la programación orientada a objetos y la gestión de
                datos.
            </p>
        </section>

        <section id="technologies" class="mb-16">
            <h2 class="text-3xl font-bold text-gray-950 mb-4">Mis Habilidades</h2>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4">

				{ techItems.map( ( item ) => (
					<TechCard title={item.title} tech={ item.tech } />
				) ) }

            </div>
        </section>

        <section id="projects">
            <h2 class="text-3xl font-bold text-gray-950 mb-4">Proyectos Trabajados</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                

                { projects.map
                ( (p) => 
                    ( 
                        <ProjectCards 
                        title={p.data.title}
                        description={p.data.ShortDescription}
                        link={`/projects/${ p.slug }`}
                        />
                    )
                )}  
              
                
            </div>
        </section>
    </main>
</Layout>

